page-doc {


.font{
  font-size:13.5px;
}

.textcolor{
  color:#666666;
}

.colortext{
  color: #404040;
}
.width{
  max-width:40%
}

.center{
	text-align: center;
}

ion-col.width-30.col {
    max-width: 30%;
    font-weight: 400;
    padding: 18px 12px;
}

ion-col.width-40.col {
    max-width: 40%;
    font-weight: 400;
    padding: 18px 12px;
}

}
