page-mapviewscreen {
  html, body, #map {margin: 0;padding: 0;width: 100%;height: 87%;} 
  .map_icon{
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding-left: 12px;
    padding-right: 14px;
    padding-top: 15px;
    width: 60px;
    font-size: 25px;
    background-color: #668598;
  }
  .input[type="text"]{
    height: 20px !important;
    padding: 0px;
    margin: 0px;
  }

  ion-input{
    border-bottom: none;
  } 
  .scroll-content{
      padding: 0px !important;
  }
  .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 0px;
     color: #00334e !important;
     font-size: 11pt !important;
     letter-spacing: 0px;
  }
  .ti {
    width: 18px;
    height: 21px !important;
  }

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #838383 !important;
    font-weight: 400 !important;
    font-size: 10pt !important;
}


  .srch_dv {
    height: 50px;
    padding-top: 5px;
  } 

.ms_icon {
    padding: 3px 3px 0px 3px;
    cursor: pointer;
    height: 40px;
    width: 43px;
}

  .map-control .expand-map-control {    
    margin-right: 10px;
  }
  .input_class{
    border: 1px solid #e8ecef;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .button-md {
    background-color: #da3434;
    color: #fff;
}
 .header-color{
    background-color:#b30000;
   }
  header-text{
  text-align:center;
  }
}
