page-emi {

 .neg{
color:blue;
 }
 .pos{
 color:black;
 }

 .scroll-content{
    margin-top: 70px !important;
 }

.header{
  color:#b30000;
}
.font{
  font-size:13.5px;
}
.textcolor{
  color:#666666;
}
.colortext{
  color: #404040;
}
.width{
  max-width:40%
}
.center{
	text-align: center;
}
ion-col.width-30.col {
    max-width: 30%;
    font-weight: 400;
    padding: 13px;
}
ion-col.width-25.col {
    max-width: 25%;
    font-weight: 400;
    padding: 13px;
}
ion-col.width-15.col {
    max-width: 15%;
    font-weight: 400;
    padding: 13px;
}
ion-col.width-10.col {
    max-width: 10%;
    font-weight: 400;
    padding: 13px;
}
ion-col.width-20.col {
    max-width: 20%;
    font-weight: 400;
    padding: 13px;
}
ion-col.width-5.col {
    max-width: 5%;
    font-weight: 400;
    padding: 13px;
}
}
