<!--
  Generated template for the EmiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <div class="tab_card padding0">
    <ion-row class="tab_th" text-wrap>
      <ion-col text-wrap class="width-25 text-left"> TOTAL </ion-col>
      <ion-col text-wrap class="width-25 text-left" id="date"> RECEIVABLE </ion-col>
      <ion-col text-wrap class="width-25 text-left" id="date"> RECEIVED </ion-col>
      <ion-col text-wrap class="width-25 text-left" id="date"> CURRENT 0/S </ion-col>
    </ion-row>

      <ion-row text-wrap *ngFor="let item of tot; let i=index" [ngClass]="(i % 2 == 0) ? 'odd' : 'tr_even'">
        <ion-col text-wrap class="width-25 text-left tab_line_text"> EMI </ion-col>
        <ion-col class="width-25 text-right tab_line_text" text-wrap>{{item.rcbl}} </ion-col>
        <ion-col text-wrap class="width-25 text-right tab_line_text">{{item.rcvd}} </ion-col>
        <ion-col text-wrap class="width-25 text-right tab_line_text">{{item.os}}  </ion-col>
      </ion-row>

  </div>

  <div class="tab_card mt25 padding0">
      <ion-row class="tab_th ">
        <ion-col text-wrap class="width-25 text-right" id="date"> TR DATE  </ion-col>
        <ion-col text-wrap class="width-25 text-right"> RCBL </ion-col>
        <ion-col text-wrap class="width-25 text-right" id="date"> RCVD </ion-col>
        <ion-col text-wrap class="width-25 text-right" id="date"> OS </ion-col>
      </ion-row>
      
      <ion-row text-wrap *ngFor="let item of emi; let i=index" [ngClass]="(i % 2 == 0) ? 'odd' : 'tr_even'">

        <ion-col text-wrap class="width-25 text-right link tab_line_text" *ngIf="item.tran_dt"  (click)="PopoverBncReason(item.bnc_reason,item.tran_dt)">{{item.tran_dt | date:'dd-MM-yy'}} </ion-col>
        <ion-col text-wrap class="width-25 text-right tab_line_text">{{item.rcbl}} </ion-col>
        <ion-col class="width-25 text-right tab_line_text" text-wrap  [ngClass]="(item.rcvd > 0) ? 'pos' : 'neg'">{{item.rcvd }} </ion-col>
        <ion-col text-wrap class="width-25 text-right tab_line_text" [ngClass]="(item.os > 0) ? 'pos' : 'neg'">{{item.os}} </ion-col>

      </ion-row>
  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
</ion-content>
