page-table-list {

 header-text{
  text-align:center;
  }

.tableSpan{
	    padding-left: 10px;
}

.button_rund_red{
    background-color: #e22323;
    border: none;
    height: 48px;
    border-radius: 50px;
    width: 150px;
    text-transform: uppercase;
    color: white;
}

.custom-icon {  
  color : green;
  float : right;
  margin-left: 8px;
}

.right{
	text-align: right;
}

}
