page-pmi {

 .neg{
color:blue;
 }
 .pos{
 color:black;
 }
 
.header{
  color:#b30000;
}

.scroll-content{
  margin-top: 70px !important;
 }

.font{
  font-size:13.5px;
}
.textcolor{
  color:#666666;
}
.colortext{
  color: #404040;
}
.width{
  max-width:40%
}
.center{
	text-align: center;
}

  ion-col.width-25.col {
    max-width: 25%;
    font-weight: 400;
    padding: 13px;
  }
  ion-col.width-16.col {
  max-width: 16%;
  font-weight: 400;
  padding: 10px;
  padding-top: 15px;
  }
  ion-col.width-18.col {
  max-width: 18%;
  font-weight: 400;
  padding: 10px;
  padding-top: 15px;
  }

}
