page-lac-info {

ion-footer{
 min-height:20px;

}
.selector{
    justify-content: center;
    border: solid 0.75px #b30000;
    background-color: #ffffff;
}
.toolbar-md {
    padding: 5px;
    min-height: 56px;
}

}
