page-contacts-update {
    ion-input{
        margin-top: 6px;
    }
    .item-md {
        margin-bottom: 20px;
    }
    .item-inner {
        padding-right: 0px !important;
        margin-right: 0px !important;
    }
   
}

