page-techi {

  
.header{
  color:#b30000;
}

.font{
  font-size:13.5px;
}

.textcolor{
  color:#666666;
}

.colortext{
  color: #404040;
}
.width{
  max-width:40%
}

.center{
	text-align: center;
}


ion-col.width-25.col {
    max-width: 25%;
    font-weight: 400;
    padding: 13px;
}

}
