<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>   
    <ion-grid class="m-6">    
        <ion-row>
          <ion-col size="4" class="tbl_head"> Location Name  </ion-col>
          <ion-col size="2" class="tbl_head"> SV </ion-col>
          <ion-col size="2" class="tbl_head"> SV+VAL </ion-col>
          <ion-col size="2" class="tbl_head"> Project </ion-col> 
          <ion-col size="2" class="tbl_head"> Total </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4" class="tbl_col"> Andheri East </ion-col>
            <ion-col size="2" class="tbl_col"> 0 </ion-col>
            <ion-col size="2" class="tbl_col"> 5 </ion-col>
            <ion-col size="2" class="tbl_col"> 2 </ion-col> 
            <ion-col size="2" class="tbl_col"> 7 </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4" class="tbl_col_alt"> Andheri East </ion-col>
              <ion-col size="2" class="tbl_col_alt"> 0 </ion-col>
              <ion-col size="2" class="tbl_col_alt"> 5 </ion-col>
              <ion-col size="2" class="tbl_col_alt"> 2 </ion-col> 
              <ion-col size="2" class="tbl_col_alt"> 7 </ion-col>
          </ion-row>
          <ion-row>
                <ion-col size="4" class="tbl_col"> Andheri East </ion-col>
                <ion-col size="2" class="tbl_col"> 0 </ion-col>
                <ion-col size="2" class="tbl_col"> 5 </ion-col>
                <ion-col size="2" class="tbl_col"> 2 </ion-col> 
                <ion-col size="2" class="tbl_col"> 7 </ion-col>
          </ion-row>
    </ion-grid>

</ion-content>
