.tbl_head{
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #dedcdc;
    padding: 4px;
    margin: 0px;
    text-align: right;
    margin-top: 14px;
    color: #515C6F;
}
.tbl_col{
    background-color: white;
    font-size: 13px;
    padding: 10px;
    text-align: right;
    font-weight: 400;
    color: #131111;
    letter-spacing: 0.5px;
}
.tbl_col_alt {
    background-color: #f5f6f8;
    font-size: 13px;
    padding: 10px;
    text-align: right;
    font-weight: 400;
    color: #131111;
    letter-spacing: 0.5px;
}
.m-6{
    margin: -6px
}