<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button></ion-back-button> </ion-buttons>
    <ion-title class="ml-15"> Mrs Bansal Priyanka </ion-title>
    <ion-buttons slot="end" (click)="homePage()"> <ion-icon name="home" class="home_icon"></ion-icon>  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card m0">
        <ion-card-content>
            <ion-row>
                <ion-col size="12">
                    <label class="lbl_name"> File No </label>
                    <div class="lbl_value"> 634263081 </div> 
                </ion-col>
                <ion-col size="12" >
                    <label class="lbl_name"> Address </label>
                    <div class="lbl_value"> Flat no 2103, Floor- 21st Rustomjee athena d sub plot no is 12/1-4,13/1-3,84/1-2 majiwade village thane (W) Dist thane 400601 Maharashtra </div> 
                </ion-col>
                <ion-col size="6">
                    <label class="lbl_name"> Location </label>
                    <div class="lbl_value"> Thane </div> 
                </ion-col>
                <ion-col size="6" >
                    <label class="lbl_name"> Property Type </label>
                    <div class="lbl_value"> HOU </div> 
                </ion-col>
                <ion-col size="6">
                    <label class="lbl_name"> Type of site </label>
                    <div class="lbl_value">  </div> 
                </ion-col>
                <ion-col size="6" >
                    <label class="lbl_name"> Visit </label>
                    <div class="lbl_value">  </div> 
                </ion-col>
              </ion-row>
        </ion-card-content>
      </ion-card>
      
    <div class="acordeon">
        <div class="tab">
          <input id="tab-one" type="checkbox" name="tabs">
          <label for="tab-one"> Issues List <ion-badge color="light" class="bad_info">2</ion-badge> </label>
          <div class="tab-content">
            <ion-card class="card">
                <ion-row>
                    <ion-col size="1" class="m0 p0">
                        <div class="list_trag_box color_bg_trag_I">
                            <div class="list_trag_text"> D </div>
                         </div>
                    </ion-col>
                    <ion-col size="11" class="m0 p0">
                          <ion-card-header class="m0 pl0 pm5">
                            <ion-card-title class="list_title_name">  Mrs Bansal Priyanka</ion-card-title>
                            <ion-row>
                              <ion-col size="4" class="list_ser_date"> 04-JAN-19 
                              </ion-col> 
                              <ion-col size="3" class="issue_id">  YRDOO3
                              </ion-col> 
                              <ion-col size="5" class="num_vs"> V-6415585544 
                              </ion-col>  
                            </ion-row>
                          </ion-card-header>
                          <ion-card-content class="m0 pl0">
                              <div class="issue_rem"> Pla call me aftersome time </div> 
                            <fieldset class="issue_box_rem"><legend>Issue Resolution</legend>
                              <p class="issue_rem_box"> Pla call me aftersome time </p>
                            </fieldset>
                          </ion-card-content>
                    </ion-col>
                  </ion-row>
            </ion-card>

            <ion-card class="card">
                <ion-row>
                    <ion-col size="1" class="m0 p0">
                        <div class="list_trag_box color_bg_trag_I">
                            <div class="list_trag_text"> D </div>
                         </div>
                    </ion-col>
                    <ion-col size="11" class="m0 p0">
                          <ion-card-header class="m0 pl0 pm5">
                            <ion-card-title class="list_title_name">  Mrs Bansal Priyanka</ion-card-title>
                            <ion-row>
                              <ion-col size="4" class="list_ser_date"> 04-JAN-19 
                              </ion-col> 
                              <ion-col size="3" class="issue_id">  YRDOO3
                              </ion-col> 
                              <ion-col size="5" class="num_vs"> V-6415585544 
                              </ion-col>  
                            </ion-row>
                          </ion-card-header>
                          <ion-card-content class="m0 pl0">
                              <div class="issue_rem"> Pla call me aftersome time </div> 
                            <fieldset class="issue_box_rem"><legend>Issue Resolution</legend>
                              <p class="issue_rem_box"> Pla call me aftersome time </p>
                            </fieldset>
                          </ion-card-content>
                    </ion-col>
                </ion-row>
            </ion-card>
          </div>
        </div>

        <div class="tab">
          <input id="tab-two" type="checkbox" name="tabs">
          <label for="tab-two"> Contact Details <ion-badge color="light" class="bad_info">2</ion-badge> </label>
          <div class="tab-content">
            <ion-card class="card">
                <ion-row>
                    <ion-col size="1" class="m0 p0">
                        <div class="list_trag_box color_bg_trag_I">
                            <div class="list_trag_text"> D </div>
                         </div>
                    </ion-col>
                    <ion-col size="11" class="m0 p0">
                          <ion-card-header class="m0 pl0 pm5">
                            <ion-row>
                              <ion-col size="8" class="call_details"> 
                                  Mr. Dharmesh Bhatt 
                                  <div class=""> 09167057473 </div>  
                              </ion-col> 
                              <ion-col size="4" class="call_icon"> 
                                    <ion-icon name="call"></ion-icon>
                              </ion-col>  
                            </ion-row>
                          </ion-card-header>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card class="card">
                    <ion-row>
                        <ion-col size="1" class="m0 p0">
                            <div class="list_trag_box color_bg_trag_I">
                                <div class="list_trag_text"> D </div>
                             </div>
                        </ion-col>
                        <ion-col size="11" class="m0 p0">
                              <ion-card-header class="m0 pl0 pm5">
                                <ion-row>
                                  <ion-col size="8" class="call_details"> 
                                      Mr. Dharmesh Bhatt 
                                      <div class=""> 09167057473 </div>  
                                  </ion-col> 
                                  <ion-col size="4" class="call_icon"> 
                                        <ion-icon name="call"></ion-icon>
                                  </ion-col>  
                                </ion-row>
                              </ion-card-header>
                        </ion-col>
                    </ion-row>
                </ion-card>
          </div>
        </div>
    </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>

    <ion-row> 
      <ion-col size="6">
          <ion-button class="main_btn" shape="round" expand="full" (click)="presentAlertConfirm()"> <ion-icon slot="start" name="camera"></ion-icon> Camera </ion-button>
      </ion-col>
      <ion-col size="6">
          <ion-button class="main_btn" shape="round" expand="full" (click)="presentAlertConfirm()"> <ion-icon slot="start" name="alert"></ion-icon> Issue </ion-button>
      </ion-col>
    </ion-row>

    </ion-title>
  </ion-toolbar>
</ion-footer>