.ml-15{
    margin-left: -15px;
}

.ios, .md {

    page-home {

        button {
            align-items: baseline;
        }

    }

}


/* Acordeon styles */

.acordeon{
    padding: 10px;
    margin-top: 10px;
}

.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #ffffff;
    font-weight: 400;
    line-height: 3;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
    color: #FF6969;
    font-size: 15px;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #e9eaec;
    font-weight: 400;
    font-size: 14px;
    color: #01050c;
    opacity: 0.7;
    letter-spacing: 0.6px;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
  }

  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
  }
  /* Icon */
  .tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
  .tab input[type=checkbox] + label::after {
    content: "\25BC";
  }
  .tab input[type=checkbox]:checked + label::after {
    transform: rotateX(180deg);
  }
  
  