<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-card class="card" (click)="listPage()">
      <ion-card-content>
          <div> 
            <ion-icon name="basket" class="icon_desh_spn"></ion-icon> 
            <span class="dashboard_text">  My List  </span>
          </div>
        <div class="dashboard_box color_list"> 84 </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="card" (click)="DashboardPage()">
        <ion-card-content>
            <div> 
              <ion-icon name="clipboard" class="icon_desh_spn"></ion-icon>
              <span class="dashboard_text">  Dashboard  </span>
            </div>
          <div class="dashboard_box color_dash"> 52 </div>
        </ion-card-content>
    </ion-card>
    <ion-card class="card" (click)="IssuesPage()">
        <ion-card-content>
            <div>
              <ion-icon name="information-circle" class="icon_desh_spn"></ion-icon> 
              <span class="dashboard_text">  Issue  </span>
            </div>
          <div class="dashboard_box color_issu"> 41 </div>
        </ion-card-content>
    </ion-card>
</ion-content>
