page-menu {
    .alert-md .alert-message{
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
    }

    .card_box_menu {
        height: 145px;
        background-color: white;
        width: 100%;
        box-shadow: 0px 1px 20px #e0e0e0;
    }

    [col-6] {
        padding: 10px !important;
    }

}
